@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition-duration: 0.001s !important;
  }
}

@supports (mix-blend-mode: darken) {
  .input-group {
    position: relative;
    mix-blend-mode: lighten;
  }
}
.input-group__input {
  color: #000000;
  font-size: 1.25rem;
  line-height: 1;
  border-style: none;
  outline: none;
  height: 2.5em;
  padding: 0em 1em;
  border: 0.25em solid transparent;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 1.8em;
  background-size: 200% 100%;
  transition: background-position 0.3s ease-out;
}
.input-group__input:hover {
  background-position: 100% 0;
}