/* Center the text in the table */
table th, table td {
    text-align: center;
    vertical-align: middle;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Light grey for even rows */
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

table th {
    background-color: rgb(215, 232, 255); /* Light blue background for the header */
    font-weight: bold;
    color: black;
}

p.lead {
    margin-bottom: 20px;
}

#pace-form {
    margin-top: 20px;
}

.form-group label {
    font-size: 1.2rem;
    font-weight: bold;
}

#calculate-btn {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1;
    border-style: none;
    outline: none;
    height: 2.5em;
    padding: 0em 1em;
    background-image: linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 5em;
    background-size: 200% 100%;
    transition: background-position 0.3s ease-out;
}

#calculate-btn:hover {
    background-position: 100% 0;
}

.btn:focus, .btn:active, .btn:hover {
    outline: none !important;
    box-shadow: none !important;
}


